127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# ===============================gpfs-ssd===============================
172.16.90.160   gpfs-ssd01.inspur.com   gpfs-ssd01
172.16.90.161   gpfs-ssd02.inspur.com   gpfs-ssd02
172.16.90.162   gpfs-ssd03.inspur.com   gpfs-ssd03
172.16.90.163   gpfs-ssd04.inspur.com   gpfs-ssd04

# ===============================gpfs-hdd===============================
172.16.90.164   gpfs-hdd01.inspur.com   gpfs-hdd01
172.16.90.165   gpfs-hdd02.inspur.com   gpfs-hdd02
172.16.90.166   gpfs-hdd03.inspur.com   gpfs-hdd03
172.16.90.167   gpfs-hdd04.inspur.com   gpfs-hdd04
172.16.90.168   gpfs-hdd05.inspur.com   gpfs-hdd05
172.16.90.169   gpfs-hdd06.inspur.com   gpfs-hdd06
172.16.90.170   gpfs-hdd07.inspur.com   gpfs-hdd07
172.16.90.171   gpfs-hdd08.inspur.com   gpfs-hdd08

# ===============================temp-io===============================
172.16.90.172 gpfs-hdd09.inspur.com gpfs-hdd09
172.16.90.173 gpfs-hdd10.inspur.com gpfs-hdd10
172.16.90.174 gpfs-hdd11.inspur.com gpfs-hdd11
172.16.90.175 gpfs-hdd12.inspur.com gpfs-hdd12

# ===============================ces-ip==============================
172.16.90.1     ces1.inspur.com ces1
172.16.90.2     ces2.inspur.com ces2
172.16.90.3     ces3.inspur.com ces3
172.17.1.172    ces4.inspur.com ces4
172.17.1.173    ces5.inspur.com ces5
172.17.1.174    ces6.inspur.com ces6

# ===============================client===============================
