
deb https://mirrors.tuna.tsinghua.edu.cn/ubuntu bionic main restricted
deb https://mirrors.tuna.tsinghua.edu.cn/ubuntu bionic-updates main restricted
deb https://mirrors.tuna.tsinghua.edu.cn/ubuntu bionic universe
deb https://mirrors.tuna.tsinghua.edu.cn/ubuntu bionic-updates universe
deb https://mirrors.tuna.tsinghua.edu.cn/ubuntu bionic multiverse
deb https://mirrors.tuna.tsinghua.edu.cn/ubuntu bionic-updates multiverse
deb https://mirrors.tuna.tsinghua.edu.cn/ubuntu bionic-backports main restricted universe multiverse