deb http://nvidia-docker.rsq.cn/libnvidia-container/stable/ubuntu18.04/$(ARCH) /
#deb https://nvidia.github.io/libnvidia-container/experimental/ubuntu18.04/$(ARCH) /
deb http://nvidia-docker.rsq.cn/nvidia-container-runtime/stable/ubuntu18.04/$(ARCH) /
#deb https://nvidihttps://nvidia.github.io/a.github.io/nvidia-container-runtime/experimental/ubuntu18.04/$(ARCH) /
deb http://nvidia-docker.rsq.cn/nvidia-docker/ubuntu18.04/$(ARCH) /